body {
  background: #333;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
  line-height: 24px;
  font-size: 1rem;
}
.hero {
  text-align: center;
  padding: 30px 0;
  background: #222;
}
.hero img {
  max-width: 500px;
  width: 100%;
}

.navbar {
  height: 60px;
  background: #111;
}
/* ----------------- zmiany ---------------------*/

.navbar__menu {
  align-items: center;
  display: flex;
  justify-content: space-around;
  position: relative;
}

.fixed-nav .navbar__menu {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background: #111;
}

.navbar__menu ul {
  visibility: visible;
}

.navbar__menu ul.menu-list--hidden {
  visibility: hidden;
}

.burger-menu {
  width: 40px;
  height: 30px;
  background-color: transparent;
  visibility: visible;
}
.burger-menu.burger-menu--hidden {
  visibility: hidden;
}
.burger-menu button {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
  position: relative;
}

.burger-menu button span {
  height: 5px;
  width: 100%;
  background-color: #fc8181;
  position: absolute;
  top: 0;
  left: 0;
}

.burger-menu button span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.burger-menu button span:nth-child(3) {
  top: initial;
  bottom: 0;
}

/* small size */
body.small-size .navbar__menu ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 60px;
  left: 0;
}

body.small-size .navbar__menu ul li {
  background-color: #000;
}

body.small-size .navbar__menu {
  height: 60px;
  justify-content: flex-end;
}

body.small-size .navbar__menu .burger-menu {
  margin-right: 30px;
}

/* ------------------ */
.navbar__menu {
  margin: 0;
}
.navbar__item {
  margin: 0;
}
.navbar__menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
.navbar__menu a {
  display: block;
  line-height: 60px;
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
}

.navbar__menu a:hover {
  background: #333;
}

.content {
  margin: 0 auto;
  width: 75%;
  max-width: 728px;
  padding-top: 50px;
  margin-bottom: 50px;
}
